.ListCard {
  color: white;
  cursor: pointer;
}

.Wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  align-items: center;
}
.LeftSide {
  display: flex;
  flex-direction: row;
}

.Emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
}

.Emoji span {
  font-size: 2rem;
}

.CardInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 1rem;
  padding: 1rem 0;
}

.CardInfo h3,
.CardInfo p {
  display: inline-block;
  margin: 0;
}

.EditButton {
  padding: 0.8rem;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  transform: scale(1);
}

.EditButton:hover {
  transform: scale(1.1);
}
